{% extends "base.html" %}
{% block content %}
<center><h1>レインフロー法による波形計数</h1></center>
<div class="margin">
  <h2>概要</h2>
  <p>
    ピーク値データ、もしくは時刻歴データからピーク値計算後、レインフロー計数を行う機能を提供する。原理の詳細は文献[1]を参照のこと。計算結果については、ユーザの責任のもとに利用して下さい。<br>
      [1]岡村弘之，板垣　浩著「強度の統計的取り扱い」，培風館， 4.3疲労の安全寿命<br>
      <font color="red">[注意]</font>文献[1]に記載されているヒステリシスループ法のアルゴリズムは、実質レインフロー法の評価結果と同じ結果を与えますが、厳密に見ると少しだけ異なっていました。しかし、ヒステリシスループ法を若干変更すると、完全にレインフロー法と合致することを最近見出しました。ただし、このアルゴリズムが完成したのは2022.7.1です。それ以前に解析された人は、結果はレインフロー法と異なる可能性がありますので注意して下さい。
  </p>
  <h2>利用法</h2>
  <p>最下部の<b>計算実行</b>のセクションで、波形計数処理を行う手順を以下に示す。まずは、次の<b>サンプルデータ</b>セクションでの動作確認をしてから利用して下さい。</p>
  <ol>
    　<li>入力ファイルが時刻歴データのときには、Waveのラジオボタン、ピーク値データのときにはPeakのラジオボタンを押す。デフォールトはWave。</li>
      <li>[ファイルの選択]ボタンを押し、データのcsvファイルを選択する。</li>
      <li>[送信]ボタンを押すことによりデータが転送され、レインフロー計数が行なわれる。</li>
      <li>計算終了後にメッセージとともに、新たなボタンが出てくる。[半波+平均]ボタンにより、results.csvがダウンロードされる。入力ファイルが時刻歴データの場合には、[ピーク値]ボタンも出現し、ボタンを押すことによりpeak.csvがダウンロードされる。results.csvには、評価された半波とその平均値のデータ群が、peak.csvには、評価されたピーク値列が出力される。</li>
  </ol>
  <h2>サンプルデータ</h2>
  <h3>例題1</h3>
  <p>下記の時刻歴の[サンプルデータ]ボタンをクリックするとサンプルデータwave.csvがダウンロードされます。これを用いて解析した結果がresults.csv,peak.csvと一致することを確認して下さい。</p>
  <form method="post" action="{{ url_for('sample') }}" enctype="multipart/form-data">
    <input type="submit" value="サンプルデータ" name="action">
  </form>
  <table border=1>
    <tbody>
      <tr>
        <td>results.csv</td>
        <td>peak.csv</td>
      </tr>
      <tr>
        <td><img src="../outputs/results.jpg"></td>
        <td><img src="../outputs/peak.jpg"></td>
      </tr>
    </tbody>
  </table>

  <h3>例題2</h3>
  <p>ASTM E1049-85(2017) Rainflow Counting Example掲載されているPeakデータを用いて検証できます。下記ボタンにより、サンプルデータASTM.csvをダウンロードして実行して下さい。出力のresults.csvの内容が下記と一致していることを確認して下さい。</p>
 
  <form method="post" action="{{ url_for('sample') }}" enctype="multipart/form-data">
    <input type="submit" value="ASTMデータ" name="action">
  </form>
  <p>results.csvの内容</p>
  <table border=1>
    <tbody>
      <tr>
        <td>halfR</td>
        <td>halfM</td>
      </tr>
      <tr>
        <td>4</td>
        <td>1</td>
      </tr>
      <tr>
        <td>4</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>-0.5</td>
      </tr>
      <tr>
        <td>4</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1</td>
      </tr>
      <tr>
        <td>9</td>
        <td>0.5</td>
      </tr>
      <tr>
        <td>8</td>
        <td>0</td>
      </tr>
      <tr>
        <td>6</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
  
  <h2>計算実行</h2>
  <p>入力ファイルの内容を選択して下さい</p>

<form method="post" action="{{ url_for('show_csv') }}" class="form-inline" enctype="multipart/form-data">
  <input type="radio" id="wave" name="radio" value="Wave" checked><label for="wave">Wave</label>
  <input type="radio" id="peak" name="radio" value="Peak"><label for="peak">Peak</label><br>
  <input type="file" id="send_data" name="send_data">
  <input type="submit" value="送信">
</form>
<div>
  {% if result %}
  <dl>
    <dt>{{ result }}<dt>
      <form action="{{ url_for('results') }}" method="post">
        <input type="submit" value="半波+平均" name="action">
        {% if name=='Wave' %}
          <input type="submit" value="ピーク値" name="action">
        {% endif %}
      </form>
      </dl>
  {% endif %}
</div>
</div>
{% endblock %}